.btn-flat {
    color: #F39422;
    padding: 8px 24px;
    border-radius: 4px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,58,128,1) 67%, rgba(0,212,255,1) 100%);
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    background:rgba(0,212,255,1);
    color: #F39422;
  }